html {
  font-size: 20px;
}

body {
  text-align: center;
  font-family: "Arial", "Meiryo", sans-serif"
}

h1 {
 font-family: "Josefin Sans" sans-serif;
 font-size: 2rem;
 letter-spacing: 1.2em;
 border-bottom: 3px solid rgb(115, 115, 114);
}

h2{
 font-size: 20px;
}

.skyblue{
 color: skyblue;  
}

.pink{
  color: rgb(225, 192, 203);
}

p{
  color: black;
  font-size: 20px;
}

#basic p {
  font-weight: bold;
}